# Variables de entorno para la aplicación de ejemplo

#Base de datos
DATABASE_URL=postgresql+asyncpg://user:password@db:5432/ml_api

#Seguridad (cambiar en produccion)
SECRET_KEY=1234567890

#Tiempo de expiracion del token
ACCESS_TOKEN_EXPIRE_MINUTES=30

#Modelo (rutas dentro del contenedor)
MODEL_PATH=src/models/artifacts/model.joblib
METADATA_PATH=src/models/artifacts/metadata.json

#CORS (orígenes permitidos)
BACKEND_CORS_ORIGINS=["http://localhost:8000", "http://localhost:3000"]